# Required paramters
authentikToken=
authentikMasterBlueGroup="166b3d8e-127c-44cd-90b2-dd2c2570e2b0"
authDomain="auth.ccdc.events"
mantisDomain="support.ccdc.events"
mantisToken=
ncAppUser=
ncAppPass=
ncDomain="docs.ccdc.events"
snappUser=
snappToken=
snappDomain="s.ccdc.events"
zulipDomain="chat.ccdc.events"
zulipEmail="automation-bot@chat.ccdc.events"
zulipToken=
zulipAdminEmail=
zulipAdminToken=
# Optional parameters
mantisMasterProjectID=
teamPassCSV=
teamNameRegex=
teamUserDomainName=
zulipOperationsChannel=
zulipOperationsTopic=
zulipOperationsGroup=
zulipBlueGroupRegex=
zulipBlueChannelRegex=
zulipBlueAnnounceTopic=
zulipOrangeChannelRegex=
zulipGreenChannelRegex=
compTeamInfoTXT=
authentikMasterBlackGroup=
authentikMasterGreenGroup=
authentikMasterRedGroup=
authentikMasterWhiteGroup=